body {
  font-family: 'Inter', sans-serif;
  background-color: rgb(37, 41, 60);
  }
  
  .login-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
  }
  
  img {
    width: 300px;
    height: 300px;
    border: 8px solid rgb(255, 255, 255);
    border-radius: 50%;
    margin-top: 5px;
  }
  
  .wrapper {
    margin-top: 20px;
  }
  form{
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
  }
  form input {
    margin-left: 5px;
    height: 40px;
    font-size: 20px;
    color: rgb(238, 238, 238);
    background: transparent;
    border-radius: 7px;
    border: 2px solid rgb(238, 238, 238);
    outline: none;
  }
  
  form button {
    height: 40px;
    margin-left: 10px;
    width: 200px;
    align-self: center;
    margin-top: 10px;
    border-radius: 7px;
    border: none;
    background: cyan;
    color: rgb(0, 0, 0);
    font-size: 1.2em;
    cursor: pointer;
  }
  
  #author {
    margin-top: 10px;
    font-size: 20px;
    color: rgb(85, 85, 85);
    text-align: center;
  }
  .white{
    display: flex;
    border: 8px solid white;
    border-radius: 100%;
  }
  